{% extends "base.html" %}
{% block title %}{% if instance %}Edit {{ instance.name }}{% else %}New {{ kind }}{% endif %}{% endblock %}
{% block content %}
<h1>{% if instance %}Edit {{ instance.name }}{% else %}New {{ kind }}{% endif %}</h1>

<form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
            {% include "_form_fields.html" %}
    <div class="btn-group">
        <a class="btn" href="{% url cancel_to %}">Cancel</a>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
{% endblock %}
