{% if widget.is_initial %}
<div class="image-current">
    {% if widget.value.url %}<img class="image-current-preview" src="{{ widget.value.url }}" alt="">{% endif %}
    <div class="image-current-text">
        <span class="help">Current image: <a href="{{ widget.value.url }}">{{ widget.value|cut:"site/" }}</a></span>
        {% if not widget.required %}
        <label class="checkline" for="{{ widget.checkbox_id }}">
            <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
            <span>{{ widget.clear_checkbox_label }}</span>
        </label>
        {% endif %}
    </div>
</div>
<span class="help">Replace it:</span>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
